node_modules/
.expo/
.expo-shared/
static/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
eas.json
app.json
index.js
metro.config.js
react-native.config.js
android/
# macOS
.DS_Store
