<!DOCTYPE html>
<html>

<head>
	<title>Image Uploader</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
	<div>
		Background Images
	</div>
	{{!-- display random image --}}
	<section>
		<div class="image">
			<img src='data:{{images.contentType}};base64,{{images.imageBase64}}' alt="...">
		</div>
	</section>
	{{!-- /display random image --}}
	</div>
</body>

</html>